LICENSE.txt
terraform-provider-aws_v5.54.1_x5
.terraform.lock.hcl
.terraform/
terraform.tf
.idea
.vscode
.DS_store
terraform.tfstate
terraform.tfstate.backup
eks-lessons
private-key
darwin-arm64
tfc*
